<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Questions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="ion-text-center">
      <ion-label style="color: #21B952" class="list-title">
        Questions.
      </ion-label>
    </ion-list-header>
    <hr>
    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding *ngFor="let question of questionService._questions">
      <ion-item *ngIf="!question.archived"> 
        <ion-label  (click)="selectQuestion(question, question.id)">
          <h2> <strong> {{question.question}} </strong></h2>
          <p *ngIf="question.answered" class="question-description" color="primary"> This Question has been Answered.
          </p>
          <p *ngIf="!question.answered" class="question-description" style="color: red"> This Question has NOT been
            Answered.</p>
        </ion-label>
      </ion-item>

      <!-- HEART EMOJI -->
      <ion-item-options *ngIf="!question.liked" side="start">
        <ion-item-option color="love" (click)="likeQuestion(true, question, question.id)">
          <ion-icon slot="icon-only" color="danger" name="heart"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <!-- SAD FACE EMOJI -->
      <ion-item-options *ngIf="question.liked" side="start">
        <ion-item-option color="warning" (click)="likeQuestion(false, question, question.id)">
          <ion-icon slot="icon-only" color="dark" name="sad"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <!-- TRASH EMOJI -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeQuestion(question.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <!-- CHECK EMOJI -->
        <ion-item-option color="answer" (click)="archiveQuestion(question, question.id)" [disabled]="!question.answered">
          <ion-icon slot="icon-only" name="archive"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="presentCreateQuestionModal()">
    <ion-icon name="add" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>